@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #15157f, #0496FF);
    margin: 10px;
}

header {
    text-align: center;
    padding: 10px;
}

header h1 {
    font-size: 4em;
    font-style: oblique;
    text-shadow: 1px 2px 8px rgb(255, 255, 255);
}

header p {
    font-size: 1.5em;
    font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #FDFFF7;
    text-shadow: 1px 3px 8px rgba(0, 0, 0, 0.541);
}

p {
    text-align: center;
    font-size: 2em;
    font-style: oblique;
    padding: 10px;
}

input {
    display: block;
    margin: auto;
    margin-top: 10px;
    width: 300px;
    height: 60px;
    border-radius: 5px;
    padding: 10px;
    font-size: large;
}

button {
    background: linear-gradient(to right, #3333cbcf, #0496FF);
    display: block;
    margin: 10px auto;
    color: #FDFFF7;
    font-weight: bold;
    font-size: large;
    border-radius: 5px;
    width: 150px;
    height: 40px;
    
}


.display {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
}

.item1 {
    background-color: #FDFFF7;
    border-radius: 8px;
    padding: 10px;
}

.item2 {
    background-color: #FDFFF7;
    border-radius: 8px;
    padding: 10px;
}



table {
  width: 60%;
  margin: 10px auto;
  border-collapse: collapse;
  text-align: center;
  font-family: Arial, sans-serif;
  
}

caption {
  font-size: 1.5em;
  margin-bottom: 10px;
  font-weight: bold;
}

th, td {
  border: 2px solid #000000;
  padding: 10px;
}

th {
  background-color: #0d0d55;
  color: white;
}

td {
    background-color:#FDFFF7;
}
